@model ConsumeMicroservices.Models.Token

<form class="px-4 py-3" action="@Url.Action("Login","Home")" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "correo@ejemplo.com" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-info">Iniciar Sesión</button>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="@Url.Action("Create", "Usuarios")">No tienes cuenta? Registrate </a>